.navbar {
  height: 40px;
  display: flex;
  flex-direction: row;

  align-items: center;

  font-size: 30px;
  line-height: 30px;

  margin: 10px;
  
  @media screen and (max-width: 1000px) {
    height: 30px;
    
    font-size: 25px;
    line-height: 25px;
  }

  @media screen and (max-width: 420px) {
    height: 30px;
    
    font-size: 20px;
    line-height: 20px;
  }

  &-title {
    margin: 0 auto 0 0;
    min-width: 0;
    color: white;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
  }

  &-search-position {
    width: 100%;
    position: relative;
    margin: 0 0 0 auto;
    max-width: 300px;
    @media screen and (max-width: 1000px) {
      max-width: 200px;
    }
    @media screen and (max-width: 420px) {
      max-width: 100px;
    }
  }

  &-search {
    width: 100%;
    height: 100%;

    font-family: "Inter";
    background-color: #222222;
    color: white;
    padding: 0;
    border: none;
    font-size: .75em;
    line-height: .75em;
    &:focus {
      outline: none;
    }
  }

  &-tracked-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 300px;

    position: absolute;

    top: 100%;
    left: 0;

    z-index: 10;

    margin: 5px 0 0 0;

    transition: opacity 0.2s, visibility 0.2s;

    overflow-y: scroll;
  }

  &-tracked-list-content-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &-tracked-item {
    color: white;
    font-size: .75em;
    text-decoration: none;

    background-color: #222222DD;

    transition: color 0.2s, background 0.2s;

    &:hover {
      color: rgb(255, 150, 255);
      background-color: #333333DD;
    }
  }
}
