.largestema {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;

  &-card {
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
  }

  &-ticker {
    font-size: 1.5em;
    text-align: center;
  }

  &-ema {
    text-align: center;
  }
}
