.button {
  user-select: none;
  transition: .5s;
  color: white;
  &:hover {
    cursor: pointer;
    color: rgb(230, 0, 230);
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1.1);
  }
}