.query {
  color: white;
  padding: 10px;
  &-top {
    display: flex;
    flex-direction: row;
  }

  &-search {
    width: 100%;
    height: 100%;

    font-family: "Inter";
    background-color: #222222;
    color: white;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.75em;
    line-height: 0.75em;
    &:focus {
      outline: none;
    }
  }

  &-tickers {
    font-size: 0.8em;
  }

  &-query {
    min-width: 7.5vw;
    padding: 5px;
  }

  &-runaway {
    &:hover {
      transform: translate(-1000%, 1000%);
    }
  }

  &-click {
    &:hover {
      cursor: pointer;
    }
  }

  &-odd {
    background-color: #333333;
  }

  &-right {
    border-right: white solid 1px;
  }

  &-bottom {
    border-bottom: white solid 1px;
  }

  &-table {
    margin-top: 20px;
    border-collapse: collapse;
  }
}
