.stock {
  display: flex;
  flex-direction: column;

  color: white;

  width: calc(100% - 20px);

  position: relative;

  margin: 0 10px;

  &-loading {
    width: 100%;
    background: #222222;
    color: white;
    font-size: 50px;
  }

  &-info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  &-info {
    padding: 10px;
  }

  &-grid {
    padding: 10px;
    display: grid;

    grid-template-columns: 50% 50%;

    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }

  &-add {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &-news {
    width: 100%;
    margin: 10px;
    font-size: 20px;
  }

  &-a {
    text-decoration: none;
    color: white;
  }
}