.stock {
  display: flex;
  flex-direction: column;

  color: white;

  &-loading {
    width: 100%;
    background: #222222;
    color: white;
    font-size: 100px;
  }

  &-info-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  &-info {
    padding: 10px;
  }

  &-add {
    position: absolute;
    right: 20px;
    top: 0;
  }

  &-news {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  &-a {
    text-decoration: none;
    color: white;
  }
}