.grade-correlation-chart {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: white 0.5px solid;
    padding: 10px;
    border-radius: 10px;
  }

  &-sector {
    font-size: 20px;
    text-align: center;
  }

  &-percentage {
    margin: 10px 0 0 0;
    font-size: 30px;
    text-align: center;
  }

  &-toggle-button {
    width: 120px;
    border: white 0.5px solid;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    user-select: none;
    &:hover {
      cursor: pointer;
      color: purple;
    }
    &:active {
      color: blue;
    }
  }
}
