.grade-correlation-chart {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: white 0.5px solid;
    padding: 10px;
    border-radius: 10px;
  }

  &-sector {
    font-size: 20px;
    text-align: center;
  }

  &-percentage {
    margin: 10px 0 0 0;
    font-size: 30px;
    text-align: center;
  }
}
