.tweets-card {
  border: 1px white solid;

  margin: 20px;
  padding: 20px;

  text-decoration: none;
  color: white;

  border-radius: 20px;

  height: calc(100% - 80px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  &-summary {
    font-size: 0.6em;
    color: grey;
  }
}