.app {
  display: flex;
  flex-direction: column;

  position: relative;

  background: #222222;

  font-family: "Inter";

  &-background {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #222222;
    top: 0px;
    left: 0px;
  }

  &-navbar {
    z-index: 10;
  }

  &-content {
    width: 100%;

    position: absolute;
    top: 60px;
    left: 0;

    z-index: 5;

    @media (max-width: 1000px) {
      top: 30px;
    }
  }
}

// page transitions
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.app-locked {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #222222;

  &-text {
    position: relative;
    margin: 10px 0 0 0;
    font-family: "Inter";
    font-size: 1.2em;
    background-color: #222222;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px white solid;
    transition: box-shadow 200ms;
    &:focus {
      outline: none;
    }
    z-index: 50;
    resize: none;
    max-width: 200px;
  }
}

.wrong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-family: Inter;
  font-size: 20vw;
  z-index: 55;
  opacity: 0;
  visibility: hidden;
}

.flash {
  visibility: visible;
  opacity: 1;
}

.fade {
  transition: 800ms;
}

.hint {
  position: absolute;
  bottom: 10%;
  left: 20%;
  transform: translate(-50%, 0);
  z-index: 55;
  height: 1px;
  width: 1px;
  background-color: peachpuff;
  &:hover {
    cursor: pointer;
  }
}
