.app {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 20px;

  background: #222222;

  font-family: "Inter";

  &-content {
    width: calc(100% - 40px);
    visibility: visible;
    opacity: 1;

    transition: opacity 0.2s, visibility 0.2s;
    z-index: 9;

    position: absolute;

    top: 60px;
    left: 20px;
  }

  &-background {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #222222;
    top: 0px;
    left: 0px;
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}