body {
  margin: 0;
  font-family: 'Times New Roman';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, #CEFFF4 -3.2%, rgba(244, 143, 143, 0.64) 105.2%);
}